html, body {
  height: 100%;
  width: 100%;
  margin:0px;
  padding: 0px;
  top:0;
  font-family: 'Lato', sans-serif;
}

#header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 20;
	background-color: #fff; 
}

#header_container {
	width: 90%;
	max-width: 1500px;
	height: 50px;
	border-bottom: 1px solid #ededed;
	margin: auto;
	border-collapse: collapse;
}

td {
	height: 50px;
	text-align: right;
}

#header_title {
	font-size: 2em;
	font-weight: bold;
	width: 50%;
	text-align: left;
}

.login {
	height: 35px;
	display: block;
}

.login img {
	height: 100%;
}

#header_login_message {
	display: inline-block;
	align-content: center;
	margin: 0;
}

#main-title {
	font-size: 3em;
	margin-bottom: 100px;
}

.divider {
	border-bottom: 1px solid #e5e5e5;
	width: 200px;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

h2 {
	margin: 0;
	margin-bottom: 20px;
	display: block;
}

.content {
	display:flex;
  	justify-content:center;
  	align-items:center;
 	height: 100vh;
	width: 100%;
	margin: auto;
	text-align: center;
}

#search_text {
	display:flex;
  	justify-content:center;
  	align-items:center;
  	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 500px;
	height: 80px;
	font-size: 2em;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
    background-color: #f4f4f4;
    -webkit-transition: all 0.3s ease; /* Safari */
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

label:hover {
	background-color: #8fb4c1;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    color: #fff;
    background-color: #316582;
}

#search_button {
    cursor: pointer;
    width: 200px;
    padding: 10px 0 10px 0;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #f4f4f4;
    -webkit-transition: all 0.3s ease; /* Safari */
    transition: all 0.3s ease;
    
}

